.login_container {
    height: 100vh;
    background: linear-gradient(120deg, var(--primary-color) -15%, var(--secondary-color) 115%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_content {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 38px 0px rgba(0, 0, 0, 0.25);

    padding: 2rem 5rem;
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login_title {
    text-align: center;
}

.login_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_data label {
    width: 100%;
    text-align: left;
    font-size: small;
    font-family: 'Lato', sans-serif;

    margin-top: 1.5rem;
    margin-bottom: 4px;
}

.login_data input {
    width: 100%;
    padding: 1rem;

    border: none;
    color: var(--dark-blue);
    background-color: transparent;
    transition: .3s ease-in-out;

    box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
}

.login_data input:focus {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.login_data input:focus-visible {
    outline: none;
}

.login_data a {
    cursor: pointer;
    font-weight: 700;
    align-self: end;
    font-size: small;
    margin-top: 1rem;
}

.login_data button {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 100px;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: x-large;
    text-transform: uppercase;
    color: var(--white);
    transition: .3s ease-in-out;
}

.login_button {
    background: linear-gradient(120deg, var(--primary-color) -15%, var(--secondary-color) 115%);
}

.login_data button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.login_data span {
    margin-top: 1rem;
    font-size: small;
}

.login_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_buttons button {
    width: 40px;
    height: 40px;
    margin: 1rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_facebook {
    background-color: rgb(9, 9, 171);
}

.login_twitter {
    background-color: cornflowerblue;
}

.login_google {
    background-color: rgb(206, 61, 61);
}

.login_footer {
    font-size: small;
}

.login_footer span {
    margin-right: 5px;
}

.login_footer a {
    font-weight: 700;
}