:root {
  --primary-color: #FF512D;
  --secondary-color: #C6E2FF;
  --white: #fcfcfc;
  --black: #141414;
  --dark-blue: #001622;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Knucklehead;
  src: url(../public/assets/fonts/Knucklehead.otf);
}
