:root {
  --font-secondary: 'Space Mono', monospace;
  --font-base: 'Titillium Web', sans-serif;

  --color-primary: #C6E2FF;
  --color-secondary: #ff512d;
  --color-white: #fcfcfc;
  --color-black: #141414;
  --color-dark-blue: #001422;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
